{% extends 'base.html.twig' %}

{% block title %}Nhomadz - My addresses{% endblock %}

{% block content %}
<a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Add an address<a/>
    <h1>My addresses</h1>
    Welcome {{ app.user.firstname }} here's your personal addresses space<br/>
    <a href="{{ path('account') }}">Back</a>
    <hr>
    {% if app.user.addresses|length == 0 %}
        <p class="text-center">
            You don't have any addresses yet.<br/> 
            Click <a href="">here</a> to add one.
        </p>
        {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text">
                            {{ address.address }},<br/>
                            {{ address.postal }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <a href="{{ path('account_address_edit', { 'id' : address.id }) }}">Edit</a> | <a href="{{ path('account_address_delete', { 'id' : address.id }) }}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
